@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@config "../../tailwind.config.ts";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme inline {
  --font-grotesk: "Space Grotesk", sans-serif;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bebas: var(--bebas-neue);
  --font-helvetica: var(--helvetica);
}

@theme {
  --keyframes-gradient: {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  };
  --animation-gradient: gradient 8s linear infinite;
}
